* {

    box-sizing: border-box;
}

body {

    background: url("../ressources/img/hacker.png") no-repeat 0% 0%/cover;
    margin: 0;
    padding: 0;

}

.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    margin: 0 auto;
    margin-top: 20px;
    outline: 1px solid white;
}

#game-canvas {
    width: 352px;
    height: 198px;
}
