@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body,
html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--AccentDark);
}

a {
    text-decoration: none;
}

body,
html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--AccentDark);
}

a {
    text-decoration: none;
}

/****************************************
 Font Support
*****************************************/

@font-face {
    font-family: MFF;
    src: url('https://files.jcink.net/uploads2/rainshine/fonts/MonsterFriendFore.otf');
    format("opentype");
}

@font-face {
    font-family: RH;
    src: url('https://files.jcink.net/uploads2/rainshine/fonts/rainyhearts.ttf');
    format("truetype");
}

@font-face {
    font-family: SS;
    src: url('https://files.jcink.net/uploads2/rainshine/fonts/slkscr.ttf');
    format("truetype");
}

/****************************************
 Variables
*****************************************/

:root {
    --FontTitle: MFF;
    --FontSubtitle: SS;
    --FontBody: placeholder;
    --AccentDark: #1f1f1f;
    /** Lightened Black **/
    --AccentLight: #f0f0f0;
    /** Soft Gray **/
    --Accent: #F08383;

    --Gradient: linear-gradient(145deg, #F0C389, #F08383, #BD83C1, #CECE41);

    --Gradient2: linear-gradient(145deg, #CECE41, #BD83C1, #F08383, #F0C389);
}

/****************************************
 Colour Matching Overlays
*****************************************/

#DarkOverlay {
    position: absolute;
    z-index: 9999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: var(--AccentDark);
    mix-blend-mode: lighten;
    pointer-events: none;
}

#LightOverlay {
    position: absolute;
    z-index: 9998;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: var(--AccentLight);
    mix-blend-mode: darken;
    pointer-events: none;
}

/****************************************
 Full Header
*****************************************/

#FullHeader {
    position: relative;
    z-index: 0;
    background-color: #bd83c1;
    width: 100%;
    height: 100vh;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#FullHeader-Focal {
    position: absolute;
    z-index: 0;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 700px;
    background-image: url(https://media.discordapp.net/attachments/825196837199020075/825547138745761823/649b75fb4e9054a50a5c0f862d10c5e6.gif);
    background-repeat: repeat-x;
}

#FullHeader-Title {
    position: absolute;
    z-index: 1;
    font: normal 120px/100% var(--FontTitle);
    color: #f0c389;
    text-transform: uppercase;
    mix-blend-mode: luminosity;
    border: 1px solide red;
    text-align: center;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: rotatex(10deg);
    -webkit-animation: rotateAngle 6s linear infinite;
    animation: rotateAngle 6s linear infinite;
}

.button {
    display: block;
    position: relative;
    margin: 0.5em 0;
    padding: 0.8em 2.2em;
    cursor: pointer;
    background: #FFFFFF;
    border: none;
    border-radius: 0.4em;
    text-transform: uppercase;
    font-size: 0.2em;
    font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    letter-spacing: 0.04em;
    mix-blend-mode: color-dodge;
    perspective: 500px;
    transform-style: preserve-3d;
}

.button:before,
.button:after {
    --z: 0px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    mix-blend-mode: inherit;
    border-radius: inherit;
    transform-style: preserve-3d;
    transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
}

.button span {
    mix-blend-mode: none;
    display: block;
}

.button:after {
    background-color: #5D00FF;
}

.button:before {
    background-color: #FF1731;
}

.button:hover {
    background-color: #FFF65B;
    transition: background 0.3s 0.1s;
}

.button:hover:before {
    --z: 0.04;
    -webkit-animation: translateWobble 2.2s ease forwards;
    animation: translateWobble 2.2s ease forwards;
}

.button:hover:after {
    --z: -0.06;
    -webkit-animation: translateWobble 2.2s ease forwards;
    animation: translateWobble 2.2s ease forwards;
}

@-webkit-keyframes rotateAngle {
    0% {
        transform: rotateY(0deg) rotateX(10deg);
        -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
        animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    }
    25% {
        transform: rotateY(20deg) rotateX(10deg);
    }
    50% {
        transform: rotateY(0deg) rotateX(10deg);
        -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
        animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    }
    75% {
        transform: rotateY(-20deg) rotateX(10deg);
    }
    100% {
        transform: rotateY(0deg) rotateX(10deg);
    }
}

@keyframes rotateAngle {
    0% {
        transform: rotateY(0deg) rotateX(10deg);
        -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
        animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    }
    25% {
        transform: rotateY(20deg) rotateX(10deg);
    }
    50% {
        transform: rotateY(0deg) rotateX(10deg);
        -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
        animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
    }
    75% {
        transform: rotateY(-20deg) rotateX(10deg);
    }
    100% {
        transform: rotateY(0deg) rotateX(10deg);
    }
}

@-webkit-keyframes translateWobble {
    0% {
        opacity: 0;
        transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
    }
    16% {
        transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
    }
    28% {
        opacity: 1;
        transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
    }
    44% {
        transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
    }
    59% {
        transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
    }
    73% {
        transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
    }
    88% {
        opacity: 1;
        transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
    }
    100% {
        opacity: 1;
        transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
    }
}

@keyframes translateWobble {
    0% {
        opacity: 0;
        transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
    }
    16% {
        transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
    }
    28% {
        opacity: 1;
        transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
    }
    44% {
        transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
    }
    59% {
        transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
    }
    73% {
        transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
    }
    88% {
        opacity: 1;
        transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
    }
    100% {
        opacity: 1;
        transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
    }
}

@media only screen and (max-width: 480px) {

    #FullHeader-Title {
        font: 19vw var(--FontTitle);
        text-align: center;
    }
}

@media only screen and (max-width: 780px) {

    #FullHeader-Title {
        font: 19vw var(--FontTitle);
        text-align: center;
    }
}
